<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inova Week: alunos participantes</title>
    <%- include('../views/partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../views/partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Alunos</h1>
        <p>Aqui serão listados todos os alunos:</p>
        <table>
            <thead>
                <th> Matrícula </th>
                <th> </th>
                <th> Nome </th>
                <th> </th>
                <th> E-mail </th>
                <th> </th>
            </thead>
            <tbody>
                <% console.log(alunos); %>
                <% for(var i=0; i < alunos.length; i++) { %>
                    <tr>
                        <td>
                            <%= alunos[i].matricula %>
                        </td>
                        <td> </td>
                        <td>
                            <%= alunos[i].nomeAluno %>
                        </td>
                        <td> </td>
                        <td>
                            <%= alunos[i].email %>
                        </td>
                        <td> </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Atualizar</button>
                            <button type="button" class="btn btn-outline-danger">Deletar</button>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
            <button id="CriarAluno" type="button" class="btn btn-outline-secondary">Criar aluno</button>
        </table>
    </div>
</main>

<footer>
    <%- include('../views/partials/footer'); %>
</footer>

</body>
</html>