<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inova Week: projetos</title>
    <%- include('../views/partials/head'); %>
</head>
<body class="container"></body>
<header>
    <%- include('../views/partials/header'); %>
</header>
<main>
    <div class="jumbotron">
        <h1>Projetos</h1>
        <p>Aqui serão listados todos os projetos:</p>
        <table>
            <thead>
                <th> Nome </th>
                <th> </th>
                <th> Lider </th>
                <th> </th>
            </thead>
            <tbody>
                <% console.log(grupos); %>
                <% for(var i=0; i < grupos.length; i++) { %>
                    <tr>
                        <td>
                            <%= grupos[i].nome %>
                        </td>
                        <td> </td>
                        <td>
                            <%= grupos[i].matriculaLider %>
                        </td>
                        <td> </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Atualizar</button>
                            <button type="button" class="btn btn-outline-danger">Deletar</button>
                            <button type="button" class="btn btn-outline-success">Visualizar</button>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</main>

<footer>
    <%- include('../views/partials/footer'); %>
</footer>

</body>
</html>